<br>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>

<form name ="biblioteca">
    
                     <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="bibliotecaName" class="control-label col-sm-2">Name</label>
                            <input id="bibliotecaName" required ng-model="bibliotecaName" class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group  row">
                        <div class="form-group col-md-6">
                            <label for="bibliotecaUbicacion" class="control-label col-sm-2">Ubicación:</label>
                            <input id="recursoEditorial" required ng-model="bibliotecaUbicacion" class="col-sm-6">
                        </div>
                    </div>
    <div class="form-group">
         <a id="cancel-create"  ui-sref="bibliotecasList" class="btn btn-danger btn-responsive">Cancel</a>
         <button id="confirm-create" ng-click="createBiblioteca()" class="btn btn-info btn-responsive">Aceptar</button>
    </div>
</form>
   