<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>


<div class="container-fluid"  >

    <br>

    <div class="col-md-12 panel-group">

        <div class="panel-default">
            <div class="panelIdiomas">
                <div class="panelIdiomas panel-heading"><label>Lista de idiomas</label></div>
            </div>
            <div class="panel-body">

                <div class="col-md-12">


                    <div class="col-md-3 " >
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Buscar</button>
                            </span>
                            <input type="text" class="form-control" placeholder="Ej. Ruso">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->

                    <img src="resources/images/Imagen_idiomas.jpg" width="6%">
                    <div class="btn-toolbar" role="group" aria-label="First Group">
                        <a class="btn btn-success" ui-sref="idiomasCreate"><span class = "glyphicon glyphicon-plus-sign"></span> Agregar idioma</a>
                    </div>
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr style="background-color: white; background: white;">
                                <th>Id</th>    
                                <th>Idioma</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="idioma in idiomasRecords" style="background-color: white; background: white;">
                                <td  id="{{$index}}-id">{{idioma.id}}</td>
                                <td  id="{{$index}}-idioma"> <a ui-sref="idiomaDetail({idiomaId: idioma.id})">{{idioma.idioma}}</a></td>
                                <td >  
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Editar"
                                            ui-sref="idiomaUpdate({idiomaId: idioma.id})"><span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Eliminar"
                                            ui-sref="idiomasDelete({idiomaId: idioma.id})"><span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>

                            </tr>

                        </tbody>
                    </table>   

                </div>
            </div>
        </div>
    </div>

</div>
