<br>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>

<form name ="monitoria">
    
                   <div class="form-group col-md-6">
                            <label for="estadoNuevo" class="col-sm-2">Estado : </label>
                            <select for="estadoNuevo" required ng-model="estadoNuevo" >
                                 <option value="Pendiente">Pendiente</option>
                                 <option value="dada">dada</option>
                                 <option value="Cancelada">Cancelada</option>
                                 <option value="Fallida">Fallida</option>
                                 
                                
                            </select>                        
                        </div> 
                   
    <div class="form-group">
         <a id="cancel-create"  ui-sref="monitorDetail({monitorCodigo:monitor})" class="btn btn-danger btn-responsive">Cancel</a>
         <button id="confirm-create" ng-click="cambiarEstado()" class="btn btn-info btn-responsive">Aceptar</button>
    </div>
</form>
   