/* 
    Created on : 23/03/2017, 05:20:11 PM
    Author     : Rubby
*/



.margin-top{
    padding-top: 20px;
}

.mainHeader {
    padding: 20px;
}

.logo{
    display: block;
    object-fit: cover;
}

.mainTitle {
    font-variant: small-caps;
    font-style: italic;
}

.footerTitle {
    font-variant: small-caps;
    font-weight: bold;
}

.shoppingCart-custom{
    padding-right: 13px;
}
.banner{
    background: #ff0000; color: #fff;
}

.panelIdiomas{
    background-color: #585858;
    color: white;
}
.panelPagos{
    background-color: #bc3636;
    color: white;
}
.panelValoraciones{
    background-color: #e8ce3e;
    color: white;
}

.panelInferior{
    background-color: #e8ce3e;
    color: white;
}