<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createAuthor">Create new Author</label>
                <label ng-if="edit" id="editAuthor">Editar idioma</label></div>
            <div class="panel-body">
                <form ng-submit="createIdioma()" name="idioma">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="idiomaIdioma" class="col-sm-2">Idioma:</label>
                            <input id="idiomaIdiona" required ng-model="idiomaIdioma" class="col-sm-6"/>
                        </div>
                    </div>
                    
                    <div ng-if="edit" class="panel-group" id="recursos">
                        <div class="panel panel-info">
                            <div class="panel-heading">Recursos asociados</div>
                            <div class="panel-body">
                                <div id="div2" ondrop="angular.element(document.getElementById('recursos')).scope().dropAdd(event)" ondragover="angular.element(document.getElementById('recursos')).scope().allowDrop(event)">
                                    <label></label>
                                    <div ng-show="edit" ng-repeat="recurso in allRecursosBiblioteca">
                                        <p draggable="true" ondragstart="angular.element(document.getElementById('theBooks')).scope().drag(event)" id="{{recurso.id}}">{{recurso.name}}</p>                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Todos los recursos</div>
                            <div class="panel-body">
                                <div id="div1" ondrop="angular.element(document.getElementById('theBooks')).scope().dropDelete(event)" ondragover="angular.element(document.getElementById('recursos')).scope().allowDrop(event)">
                                    <label></label>
                                    <div ng-repeat="recurso in allRecursosShow">
                                        <p draggable="true" ondragstart="angular.element(document.getElementById('recursos')).scope().drag(event)" id="{{recurso.id}}">{{recurso.name}}</p>                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!author.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="author.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="authorsList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>