<br>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>

<form name ="sede">
    
                     <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="sedeName" class="control-label col-sm-2">Name</label>
                            <input id="sedeName" required ng-model="sedeName" class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group  row">
                        <div class="form-group col-md-6">
                            <label for="sedeDireccion" class="control-label col-sm-2">Direccion</label>
                            <input id="sedeDireccion" required ng-model="SedeDireccion" class="col-sm-6">
                        </div>
                    </div>
    <div class="form-group">
         <a id="cancel-create"  ui-sref="sedeList" class="btn btn-danger btn-responsive">Cancel</a>
         <button id="confirm-create" ng-click="updateSede()" class="btn btn-info btn-responsive">Aceptar</button>
    </div>
</form>