<div  >
    <pre>La fecha seleccionada es: <em>{{dt | date:'fullDate' }}</em></pre>
    <
    
    <div style="display:inline-block; min-height:350px;">
      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
    </div>

    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Hoy</button>
 
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Limpiar Seleccion</button>
   
    <hr>
   
    <div>
    <p>Elija Una Hora</p>
    <select id=hora class='selectpicker'>
    </select>
    <p>Elija Un Minuto</p>
    <select id=minuto class='selectpicker2'>
    </select>    
    
    </div>
   
    <div id= holis class="hola"></div>
  
  </div>
   
   <button class="btn btn-info rm-horario" ng-click="elegirHorario({dt})">hora</button> 


</div>