<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>

<form name ="recurso">
    
                     <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="recursoName" class="control-label col-sm-2">Name:</label>
                            <input id="recursoName" required ng-model="recursoName" class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group  row">
                        <div class="form-group col-md-6">
                            <label for="recursoEditorial" class="control-label col-sm-2">Editorial:</label>
                            <input id="recursoEditorial" required ng-model="recursoEditorial" class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group  row">
                        <div class="form-group col-md-2">
                            <label for="recursoIdioma" class="col-sm-2">Idioma:</label>
                            <select class="form-control col-sm-4" ng-model="recursoIdioma" >
                                <option class="col-sm-4" ng-selected="recursoIdioma == item.idioma" ng-repeat="item in idiomasRecords" ng-value="item.idioma">{{item.idioma}}</option>
                            </select>
                        </div>
                    </div>
    <div class="form-group">
         <a id="cancel-create"  ui-sref="recursosList" class="btn btn-danger btn-responsive">Cancel</a>
         <button id="confirm-create" ng-click="createRecurso()" class="btn btn-info btn-responsive">Aceptar</button>
    </div>
</form>
   