<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid"  >
    <div class="col-md-12">
        <h2>Bibliotecas</h2>   
        <h3>Nueva biblioteca</h3>
        <div class="row">
  <div class="col-lg-3 " >
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
      <input type="text" class="form-control" placeholder="Ej. Biblioteca General">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Id</th>    
                    <th>Nombre</th>
                    <th>Ubicación</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="biblioteca in bibliotecasRecords">
                    <td  id="{{$index}}-id">{{biblioteca.id}}</td>
                    <td  id="{{$index}}-name"> <a ui-sref="bibliotecaDetail({bibliotecaName: biblioteca.Id})">{{biblioteca.name}}</a></td>
                    <td id="{{$index}}-ubicacion">{{biblioteca.ubicacion}}</td>
                    <td >  
                            <button type="button" class="glyphicon glyphicon-trash"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-default">Agregar Biblioteca</button>
</div>
