<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>


<div class="container-fluid"  >

    <br>

    <div class="col-md-3 " >
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Buscar</button>
            </span>
            <input type="text" class="form-control" placeholder="Ej. Leer">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
     <img src="resources/images/Imagen_actividades.png" height="5%" width="5%" align="left">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Id</th>    
                <th>Tarea asignada</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="actividad in actividadesRecords">
                <td  id="{{$index}}-id">{{actividad.id}}</td>
                <td  id="{{$index}}-tareaAsignada">{{actividad.tareaAsignada}}</td>
                <td id="{{$index}}-editorial">{{actividad.descripcion}}</td>
                <td id="{{$index}}-eliminar" class="form-group">
                    <a class ="btn btn-danger btn-sm" ui-sref="actividadDelete({monitoriaId: currentMonitoria.id, actividadId: actividad.id})"><span class="glyphicon glyphicon-trash"></span></a>
                    <a class="btn btn-info btn-sm" ui-sref="actividadUpdate({monitoriaId: currentMonitoria.id, actividadId: actividad.id})"><span class="glyphicon glyphicon-edit"></span></a>
                </td>

            </tr>
        </tbody>
    </table>    
    <div class="btn-toolbar" role="group" aria-label="First Group">
        <a class="btn btn-success" ui-sref="actividadCreate({monitoriaId: currentMonitoria.id})"><span class = "glyphicon glyphicon-plus-sign"></span> Agregar actividad</a>
    </div>
</div>

