
<div class="container-fluid">
<br>

<form name ="monitor">
    
     <div class="form-group row">
         <div class="form-group col-md-6">
             <label for="monitorNombre" class="control-label col-sm-2">Nombre*</label>
             <input type="text" id="monitorNombre"  required ng-model="monitorNombre" class="col-sm-6">
         </div>
     </div>
    <div class="form-group row">
         <div class="form-group col-md-6">
             <label for="monitorCodigo" class="control-label col-sm-2">Codigo*</label>
             <input type="number" id="monitorCodigo" min="0"  required ng-model="monitorCodigo" class="col-sm-6">
         </div>
     </div>
    
     <div class="form-group row">
         <div class="form-group col-md-6">
             <label for="tipoMonitor" class="control-label col-sm-2">Tipo de monitor*</label>
             <select name="tipoMonitor" id="pagoEstado" required ng-model="tipoMonitor">
  <option value=1>Profesor </option>
  <option value=2>Monitor especializado</option>
  <option value=3>Alumno Avanzado</option>

</select>       
         </div>
     </div>
    
    
    
    <div class="form-group row">
         <div class="form-group col-md-6">
             <label for="monitorNombre" class="control-label col-sm-2">Foto</label>
             <input type="text" id="monitorNombre"   ng-model="monitorFoto" class="col-sm-6">
         </div>
     </div>
    <div class="form-group row">
         <div class="form-group col-md-12">
             <label for="monitorNombre" class="control-label col-sm-2">Idiomas:</label>
        <div class="col-sm-3 col-md-3" ng-repeat="idioma in idiomasRecords " >     
              <input type="checkbox" name="idiomasMonitor" value="{{idioma.id}}"> {{idioma.idioma}}<br>
         </div>
            </div>
     </div>
    
    <div class="form-group row">
                        <div class="form-group col-sm-6" ng-if="!monitor.$valid">

                            <div class="alert alert-warning" >
                                <strong>Cuidado!</strong><p>El campo de tipo, codigo y nombre son requerido*</p>
                            </div> 
                        </div> 
                    </div>
    
    
    <div class="form-group">
        <button ng-show="monitor.$valid" id="confirm" ng-click="createMonitor()" class="btn btn-success">Aceptar</button> 
        <a id="cancel"  ui-sref="monitoresList" class="btn btn-danger btn-responsive">Cancel</a>
         
    </div>
</form>
<br>
</div>
   