<div  >
    <pre>La fecha seleccionada es: <em>{{dt | date:'fullDate' }}</em></pre>
    <
    
    <div style="display:inline-block; min-height:350px;">
      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
    </div>

    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Hoy</button>
 
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Limpiar Seleccion</button>
   
    <hr>
   
    <div>
    <p>Elija Una Hora de Inicio</p>
    <select id=hora class='selectpicker'>
    </select>
    <p>Elija Un Minuto de Inicio</p>
    <select id=minuto class='selectpicker2'>
    </select>    
    
    </div>
    <div>
    <p>Elija Un Tipo De Monitoria</p>
    <select width="50px" id=tipo class='selectpicker'>
        <option value="5">Simple 5 minutos</option>
          <option value="10">Express minutos</option>
            <option value="30">Grupal minutos</option>
    </select>
      
    
    </div>
   
    <div id= holis class="hola"></div>
  
  </div>
   
   <button class="btn btn-info rm-horario" ng-click="crearHorario({dt},{fechafin})">hora</button> 


</div>