<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>


<div class="container-fluid"  >
    
    <br>
            
    <div class="col-md-3 " >
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
      <input type="text" class="form-control" placeholder="Ej. Algoritms">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Id</th>    
                    <th>Nombre</th>
                    <th>Editorial</th>
                    <th>Disponibilidad</th>
                    <th>Idioma</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="recurso in recursosRecords">
                    <td  id="{{$index}}-id">{{recurso.id}}</td>
                    <td  id="{{$index}}-name"> <a ui-sref="recursoDetail({recursoId: recurso.id})">{{recurso.id}}</a></td>
                    <td id="{{$index}}-editorial">{{recurso.editorial}}</td>
                    <td id="{{$index}}-disponibilidad">{{recurso.disponibilidad}}</td>
                    <td id="{{$index}}-idioma">{{recurso.idioma.name}}</td>
                    <td id="{{$index}}-eliminar">
                        <a class ="btn btn-danger btn-sm" ui-sref="recursoDelete({bibliotecaId: currentBiblioteca.id, recursoId: recurso.id})"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>    
    <div class="btn-toolbar" role="group" aria-label="First Group">
        <a class="btn btn-primary" ui-sref="recursoCreate"><span class = "glyphicon glyphicon-plus-sign"></span> Agregar Recurso</a>
    </div>
</div>
