<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>


<div class="container-fluid"  >
    <img src="resources/images/Imagen_libros.png" height="5%" width="5%" align="left">   
    <br>
         
    <div class="col-md-3 " >
    <div class="input-group col-md-12">
      <input type="text" class="form-control"  ng-model="recursoBuscado" placeholder="Ej. Algoritms">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

<br><br><br>
<div class="btn-toolbar" role="group" aria-label="First Group">
        <a class="btn btn-success" ui-sref="recursoCreate({bibliotecaId: currentBiblioteca.id})"><span class = "glyphicon glyphicon-plus-sign"></span> Agregar Recurso</a>
</div>
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Id</th>    
                    <th>Nombre</th>
                    <th>Editorial</th>
                    <th>Disponibilidad</th>
                    <th>Idioma</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="recurso in recursosRecords | filter:recursoBuscado">
                    <td  id="{{$index}}-id">{{recurso.id}}</td>
                    <td  id="{{$index}}-name">{{recurso.name}}</td>
                    <td id="{{$index}}-editorial">{{recurso.editorial}}</td>
                    <td id="{{$index}}-disponibilidad">{{recurso.disponibilidad}}</td>
                    <td id="{{$index}}-idioma">{{recurso.idioma.idioma}}</td>
                    <td id="{{$index}}-eliminar" class="form-group">
                        <a class="btn btn-info btn-sm" ui-sref="recursoUpdate({bibliotecaId: currentBiblioteca.id,recursoId: recurso.id})"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class ="btn btn-danger btn-sm" ui-sref="recursoDelete({bibliotecaId: currentBiblioteca.id, recursoId: recurso.id})"><span class="glyphicon glyphicon-trash"></span></a>
                        
                    </td>
                    
                </tr>
            </tbody>
        </table>    
    
</div>
