<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>


<div class="container-fluid"  >
    
    <br>
            
    <div class="col-md-3 " >
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
      <input type="text" class="form-control" placeholder="Ej. salon1">
    </div><!-- /input-group -->
    <br>
    <div class="btn-toolbar" role="group" aria-label="First Group">
        <a class="btn btn-primary" ui-sref="salonCreate"><span class = "glyphicon glyphicon-plus-sign"></span> Agregar Salon</a>
    </div>
    <br>
  </div><!-- /.col-lg-6 -->

        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Id</th>    
                    <th>Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="salon in salonesRecords">
                    <td  id="{{$index}}-id">{{salon.id}}</td>
                    <td  id="{{$index}}-nombre"> <a ui-sref="salonDetail({salonNombre: salon.nombre})">{{salon.nombre}}</a></td>
                    <td id="{{$index}}-eliminar">
                        <a class ="btn btn-danger btn-sm" ui-sref="salonDelete({sedeId: currentSede.id, salonId: salon.id})"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>    
</div>