<div class="container-fluid">
<div class="col-md-3">
                <div class="thumb">
                    <br>
                    <img class="img-responsive" ng-src="{{currentMonitor.foto}}" width="200px" height="200px"/>
                </div>

            </div>
    <br>
    <div > 
        <div class="col-md-8" >    
<label class="col-md-4">Nombre monitor:</label>
<p class="col-md-4">{{currentMonitor.nombre}}</p>
</div> 
        <div class="col-md-8" >
 <label class="col-md-4">Tipo:</label>
<p class="col-md-4">{{currentMonitor.tipo}}</p>
</div>
        <div class="col-md-8" >
 <label class="col-md-4">Valoracion promedio:</label>
 <p class="col-md-4">{{currentMonitor.valPromedio}}</p>
</div>
        <div class="col-md-8" >
 <label class="col-md-4">Idiomas:</label>
<p class="col-md-1" ng-repeat="idioma in currentMonitor.idiomas">{{idioma.idioma}}</p>
</div>
    </div>

<div class="col-md-8">  
<a  class="btn btn-info" ui-sref="monitorUpdate({monitorCodigo: currentMonitor.codigo})"><span class="glyphicon glyphicon-edit"></span>Editar monitor</a> <a  class="btn btn-success" ui-sref="monitoriasCreate"><span class="glyphicon glyphicon-edit"></span>Nueva monitoria</a>
</div>
    <div class="col-md-8">
    <table class="table table-striped" class="col-md-8">
        <thead>
            <tr>
                <th>Id</th>
                <th>tipo</th>
                <th>estado</th>          
            </tr>
        </thead>
        <tbody> 
             <tr ng-repeat="monitoria in currentMonitor.monitorias" >
                <td  id="{{$index}}-id">{{monitoria.id}}</td>
                <td  id="{{$index}}-tipo">{{monitoria.tipo}}</td>
                <td id="{{$index}}-estado">{{monitoria.estado}}</td>
                <td><a class ="btn btn-info btn-sm" ui-sref="monitoriaDetail({monitoriaId: monitoria.id})"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
                <td>  <a class ="btn btn-info btn-sm" ui-sref="monitorMonitoriaUpdate({idMonitor:currentMonitor.codigo,monitoriaId:monitoria.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
            </tr> 
        </tbody>
    </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
