<div class ="col-xs-6 col-sm-3 col-md-2 col-lg-12 well">
               <h1> Monitores </h1>
</div>

<div class="container-fluid">
    <table class="table table-striped" class="col-md-4">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Valor Promedio</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
             <tr ng-repeat="record in records">
                <td id="{{$index}}-name">{{record.nombre}}</td>
                <td id="{{$index}}-name">{{record.tipo}}</td>
                <td id="{{$index}}-name">{{record.valPromedio}}</td>
                <td> <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record.codigo)"><span class="glyphicon glyphicon-trash"></span> Remove</button></td>
               
            </tr> 
        </tbody>
    </table>
</div>

