
<div class="container-fluid"> 
     <br>
     
    <div class="col-md-12 panel-group">
        <div class="panel-default">
        <div class="panelMonitores">
                <div class="panelMonitores panel-heading"><label>Lista de monitores</label></div>
            </div>
        <div class="panel-body">
    <br>
    <div class="input-group col-md-12">
        <h3>Buscar por nombre<input type="text" class="form-control" ng-model="monitorNameBuscada" placeholder="Ej. Lucia Perez"></h3>
    </div><!-- /input-group -->
    <br>
            <a class="btn btn-success" ui-sref="monitorCreate"><span class = "glyphicon glyphicon-plus-sign"></span> Agregar Monitor</a>
     <br>
     <br>
  <div class="row">
  <div class="col-sm-3 col-md-3" ng-repeat="record in monitoresRecords| filter:monitorNameBuscada">
    <div class="thumbnail" width="300px" height="300px">
        <img class="img-responsive col-sm-4 col-md-4"  ng-src="{{record.foto}}" width="20%" height="20%">
      <div class="caption">
        <h4>{{record.nombre}}</h4>
        <label>Calificacion: {{record.valPromedio}}</label>
                   
        <p><a ui-sref="monitorDetail({monitorCodigo: record.codigo})" class="btn btn-primary" >Detalle</a> <a ui-sref="monitorDelete({monitorCodigo: record.codigo})" class="btn btn-danger" >Eliminar</a> </p>   
    </div>   
    </div>
  </div>
</div>
    
 <br>
 <br>
</div>

