<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>


<div class="container-fluid"  >

    <br>

    <div class="col-md-12 panel-group">

        <div class="panel-default">
            <div class="panelMonitorias">
                <div class="panelMonitorias panel-heading"><label>Lista de monitorias</label></div>
            </div>
            <div class="panel-body">

                <div class="col-md-12">

                    <img src="resources/images/Imagen_monitorias.jpg" width="6%">
                    
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr><th> Id</th>
                                <th>Nombre del Monitor</th>             
                                <th>Tipo</th>
                                <th>Estado</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in records">
                                <td  id="{{$index}}-id"> <a ui-sref="monitoriaDetail({monitoriaId: record.id})">{{record.id}}</a></td>
                                <td id="{{$index}}-name">{{record.monitor.nombre}}</td>              
                                <td id="{{$index}}-name">{{record.tipo}}</td>
                                <td id="{{$index}}-name">{{record.estado}}</td>
                            </tr> 
                        </tbody>
                    </table>

                </div>
